---
layout: default
---

<script>
  function view_sub(divname) {
    document.getElementById('view_sub_'+divname).style.display="block"; 
    $("div[id^='view_sub'][id!='view_sub_"+divname+"']").css("display","none"); 
  }
</script>
<article class="page">
  <div  style="float:left;  width:10%;">
    <h3>Categories</h3>
    {% for category in site.categories %}
      {% assign cates = category[0] %}<!-- category name -->
      <p>
        <!-- <a href="/category/{{ category[0] }}/" style="text-decoration: none;"> -->
        <a href="javascript:view_sub('{{ category[0] }}')">
          {% if category[0] == 'aws' %}{{ category[0] | upcase }}{% else %}{{ category[0] | capitalize }}{% endif %}
        </a>
        <div id="view_sub_{{ category[0] }}" style="display:none">
          {% for post in site.categories[cates] %}
          <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <span style="font-size:10px; color:#000000">{{ post.title }}</span>
            {% if post.subtitle %}
            {{ post[0].subtitle }}
            {% endif %}
            </a>
          </div>
          {% endfor %} 
        </div>
      </p>
    {% endfor %}
  </div>
  <div style="float:left; width:50%; margin-bottom:20px">
    <h1>{{ page.title }}</h1>
    <p />
    <div class="entry">
      {{ content }}
    </div>
  </div>
</article>
