---
layout: default
---

<article class="page">
  <div  style="float:left;  width:30%; border:1px solid red">
    <h3>Categories</h3>
    {% for category in site.categories %}
        <a href="/category/{{ category[0] }}/" style="text-decoration: none;">
          {% if category[0] == 'aws' %}{{ category[0] | upcase }}{% else %}{{ category[0] | capitalize }}{% endif %}
          <p class="cateline">------------------------</p>
        </a>
        <br />
      </div>
    {% endfor %}
  <div style="float:right; width:70%">
    <h1>{{ page.title }}</h1>
    <p />
    <div class="entry">
      {{ content }}
    </div>
  </div>
</article>
